<footer>
  &copy; 2022 Victoria Cheng | Bubble Tea App
  <a href="https://github.com/victoriacheng15/bubble-tea-api"
    ><ion-icon name="logo-github"></ion-icon></a
  ><a href="https://www.linkedin.com/in/victoriacheng15/"
    ><ion-icon name="logo-linkedin"></ion-icon></a
  ><a href="https://twitter.com/viktoriacheng15">
    <ion-icon name="logo-twitter"></ion-icon>
  </a>
</footer>
