<form class="order-box" action="/order" method="POST">
  <label for="order">drag your choice of tea and topping</label>
  <div class="btn-container">
    <button class="btn submit-btn standard-border" type="submit" disabled>
      submit your choices
    </button>
    <button class="btn clear-btn standard-border">Clear Choices</button>
  </div>
</form>
