<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="A short and simple history about bubble tea on its origin"
    />
    <title>Bubble Tea | History</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <h2>History</h2>
      <%- include('./navbar.ejs') %>
    </header>
    <main>
      <section class="container history">
        <p>
          Bubble tea, also known as pearl tea or boba tea is a drink that made
          with black or green tea, milk and tropical pearls. The pearls are what
          give the drinks its name.
        </p>
        <p>
          There are 2 claims of original of bubble tea.First claim
          <span class="bold">First claim</span>, it was invented by Liu Han
          Chieh from Taichung City in 1980's, who combined milk tea and black
          tapioca pearls ad it became popular with students.
          <span class="bold">Second claim</span>, it was invented by Tu Tsong He
          from Tainan City and inspiried to create bubble tea when he saw white
          tapioca pearls for sale in 1986. The idea was to create something new
          that would be popular among customers who were bored of drinking plain
          old boring tea.
        </p>
        <p>
          As the time goes by and then with the raise of social platforms,
          bubble tea is becoming more popular. There are more tea, e.g. taro
          milk tea, mango milk tea, etc and topping, e.g. egg pudding, jelly,
          etc show up on the menu cross tea shops. These new types are pretty
          wild and fun at the same time.
        </p>
        <p>
          <span class="bold">How to make bubble tea?</span> Generally, the
          ingredents contain black tea, milk, tapioca pearls, and sweet. You can
          buy tapioca pearls from Amazon or Asian grocery stores. For sweet, I
          prefer to use black sugar, but you can use any sweet like honey or
          white sugar. These tea shops has so many combinations, so you can go
          wild and exerpiment with different combinations to see which one you
          like the most. I also provided the classic milk tea recipe below.
        </p>
        <p>
          My most favorite one will be the
          <span class="bold">Brown Sugar Milk tea</span>. This is the best one
          ever. The ingredients are milk, brown sugar and tapioca pearls. As
          usual, cooking tapicoa pearls based on the package instruction, once
          it is done, and soak them with brown sugar. Let them cool down a bit.
          Pour brown sugar pearls to cup and then pour cold milk in. Enjoy it!
        </p>
      </section>
      <section class="container sources">
        <h2>Sources:</h2>
        <ul>
          <li class="source-link">
            <a
              href="https://fanaledrinks.com/blogs/blog/the-history-of-boba-tea"
              >The history of boba tea</a
            >
          </li>
          <li class="source-link">
            <a
              href="https://www.cnn.com/travel/article/taiwan-bubble-tea-origins/index.html"
              >The rise of bubble tea, one of Taiwan's most beloved beverages</a
            >
          </li>
          <li class="source-link">
            <a href="https://healthynibblesandbits.com/how-to-make-bubble-tea/"
              >How to make bubble tea by Lisa Lin</a
            >
          </li>
          <li class="source-link">
            <a href="https://www.foxyfolksy.com/brown-sugar-milk-tea/"
              >Brown Sugar Milk tea recipe</a
            >
          </li>
        </ul>
      </section>
    </main>
    <%- include('./footer.ejs') %>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
