<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bubble Tea API</title>
    <link rel="stylesheet" href="/style.css" />
    <script src="/main.js" defer></script>
  </head>
  <body>
    <h1>The home of Bubble Tea API</h1>
    <section class="container lists">
      <div class="column">
        <h2>Teas</h2>
        <ul class="list">
          <% teas.forEach(tea => { %> 
            <% if(tea.type === "tea") {%>
              <li class="item tea" draggable="true" date-type="<%= tea.type %>"><%= tea.name %></li>
            <% } %> 
          <% }) %>
        </ul>
      </div>
      <div class="column">
        <h2>Toppings</h2>
        <ul>
          <% for(tea of teas) {%> 
            <% if(tea.type === "topping") {%>
              <li class="item topping" draggable="true" date-type="<%= tea.type %>"><%= tea.name %></li>
            <% } %> 
          <% } %>
        </ul>
      </div>
    </section>
    <section class="container mix-match">
      <h2>Let's mix and match your order!</h2>
      <form class="order-box" action="">
        <label for="order">drag your choice of tea</label>
        <button class="btn" type="submit">submit your order</button>
      </form>
      <!-- <ul class="order-box">
        <h3>drag your choice of tea and topping</h3>
      </ul> -->
      <!-- https://codepen.io/victoriacheng15/pen/YzegENL?editors=1111 -->
    </section>
  </body>
</html>
