:root {
  --dark-brown: #38220f;
  --light-brown: #704041;
  --milk-tea: #d8c5a6;
  --light-milk-tea: #dbc1ac;
  --lighest-milk-tea: #ece0d1;
}

*,
*::before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  min-height: 100vh;
  padding-block: 36px;
  background: var(--lighest-milk-tea);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  color: var(--dark-brown);
}

h1,
h2,
label {
  text-align: center;
  text-transform: capitalize;
}

h1,
h2 {
  color: var(--dark-brown);
}

.container {
  margin: 0 auto;
  width: min(90%, 900px);
}

header {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.link a {
  color: var(--lighest-milk-tea);
}

.link {
  padding: 10px 16px;
  background: var(--dark-brown);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.link:hover {
  background: var(--light-brown);
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.lists {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.column {
  width: min(50%, 450px);
  padding: 24px 16px;
  background: var(--milk-tea);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.column ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.item {
  padding: 10px 16px;
  background: var(--dark-brown);
  border-radius: 5px;
  color: var(--lighest-milk-tea);
  text-transform: capitalize;
  cursor: move;
  transition: opacity 300ms ease-in-out;
}

.item:hover {
  opacity: 0.8;
}

.mix-match {
  padding: 24px;
  background: var(--milk-tea);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.order-box {
  width: 100%;
  height: 300px;
  padding: 16px;
  background: var(--lighest-milk-tea);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  position: relative;
}

.input {
  border: none;
  padding: 10px 16px;
  background: var(--dark-brown);
  border-radius: 5px;
  color: var(--lighest-milk-tea);
  text-transform: capitalize;
}

button {
  width: min(100%, 200px);
  padding: 8px 16px;
  background: var(--light-brown);
  border-radius: 5px;
  border: 3px solid var(--dark-brown);
  font-size: 0.9rem;
  color: var(--lighest-milk-tea);
  text-transform: capitalize;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.btn-container {
  width: 100%;
  position: absolute;
  bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

@media (min-width: 750px) {
  .btn-container {
    flex-direction: row;
  }
}

.btn:hover {
  background-color: var(--dark-brown);
}

.no-pointer {
  pointer-events: none;
  position: relative;
  overflow: hidden;
}

.no-pointer::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  inset: 0;
  background: var(--light-milk-tea);
  opacity: 0.35;
}

/* history ============= */
.history {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.history p {
  line-height: 2;
}

.bold {
  font-weight: bolder;
  text-decoration: underline wavy var(--dark-brown);
}

.sources {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.sources ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.source-link a {
  color: var(--dark-brown);
}

.source-link {
  padding: 5px;
  position: relative;
}

.source-link:before {
  content: "";
  position: absolute;
  inset: 0;
  width: 0;
  background: var(--light-milk-tea);
  z-index: -1;
  transition: all 400ms ease-in-out;
}

.source-link:hover:before {
  width: 100%;
}

/* leaderboard ======================= */
.leaderboard {
  padding: 36px;
  background: var(--milk-tea);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.leaderboard-list {
  padding: 10px;
  background: var(--lighest-milk-tea);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  color: var(--dark-brown);
  gap: 36px;
}
