:root {
  --dark-brown: #38220f;
  --light-brown: #704041;
  --milk-tea: #d8c5a6;
  --light-milk-tea: #dbc1ac;
  --lighest-milk-tea: #ece0d1;
  --standard-radius: 5px;
  --standard-gap: 16px;
  --standard-padding: 16px;
}

*,
*::before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  padding-block-start: calc(var(--standard-padding) * 2);
  background: var(--lighest-milk-tea);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: calc(var(--standard-gap) * 1.25);
  color: var(--dark-brown);
}

h1,
h2,
label {
  text-align: center;
  text-transform: capitalize;
}

h1,
h2 {
  color: var(--dark-brown);
}

.container {
  margin: 0 auto;
  width: min(90%, 900px);
}

.standard-border {
  border: 2px solid var(--dark-brown);
}

/*  header ====================== */
header,
nav ul,
.link {
  display: flex;
}

header {
  flex-direction: column;
  gap: calc(var(--standard-gap) * 1.25);
}

nav ul {
  justify-content: center;
  gap: calc(var(--standard-gap) * 1.5);
}

.link a {
  color: var(--lighest-milk-tea);
}

.link {
  padding: calc(var(--standard-padding) * 0.625) var(--standard-padding);
  background: var(--dark-brown);
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.link:hover {
  background: var(--light-brown);
}

/*  main ================================== */
main,
.lists,
.column,
.column ul {
  display: flex;
}

main {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc(var(--standard-gap) * 1.5);
}

.lists {
  justify-content: space-between;
  gap: calc(var(--standard-gap) * 1.5);
}

.column {
  width: min(50%, 450px);
  padding: calc(var(--standard-padding) * 1.5) var(--standard-padding);
  background: var(--milk-tea);
  border-radius: var(--standard-radius);
  flex-direction: column;
  align-items: center;
  gap: var(--standard-gap);
}

.column ul {
  flex-direction: column;
  gap: calc(var(--standard-gap) * 0.75);
}

.item {
  padding: calc(var(--standard-padding) * 0.625) var(--standard-padding);
  background: var(--dark-brown);
  border-radius: var(--standard-radius);
  color: var(--lighest-milk-tea);
  text-transform: capitalize;
  cursor: pointer;
  transition: opacity 300ms ease-in-out;
}

.item:hover {
  opacity: 0.8;
}

/*  mix match box ======================== */
.mix-match,
.order-box,
.btn-container {
  display: flex;
}

.mix-match {
  padding: calc(var(--standard-padding) * 1.5);
  background: var(--milk-tea);
  border-radius: var(--standard-radius);
  flex-direction: column;
  align-items: center;
  gap: calc(var(--standard-gap) * 1.25);
}

.show-width {
  text-align: center;
}

.order-box {
  width: 100%;
  height: 300px;
  padding: var(--standard-padding);
  background: var(--lighest-milk-tea);
  border-radius: var(--standard-radius);
  flex-direction: column;
  align-items: center;
  gap: calc(var(--standard-gap) * 1.5);
  position: relative;
}

.input {
  border: none;
  padding: calc(var(--standard-padding) * 0.625) var(--standard-padding);
  background: var(--dark-brown);
  border-radius: var(--standard-radius);
  color: var(--lighest-milk-tea);
  text-transform: capitalize;
}

button {
  width: min(100%, 200px);
  padding: calc(var(--standard-padding) * 0.5) var(--standard-padding);
  background: var(--light-brown);
  border-radius: var(--standard-radius);
  font-size: 0.9rem;
  color: var(--lighest-milk-tea);
  text-transform: capitalize;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

button:disabled {
  background: var(--dark-brown);
  cursor: default;
}

.btn-container {
  width: 100%;
  position: absolute;
  bottom: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc(var(--standard-gap) / 2);
}

@media (min-width: 750px) {
  .btn-container {
    flex-direction: row;
  }
}

.btn:hover {
  background-color: var(--dark-brown);
}

.no-pointer {
  pointer-events: none;
  position: relative;
  overflow: hidden;
}

.no-pointer::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  inset: 0;
  background: var(--light-milk-tea);
  opacity: 0.35;
}

/* history ============= */
.history,
.sources,
.sources ul {
  display: flex;
}

.history {
  flex-direction: column;
  gap: calc(var(--standard-gap) * 1.5);
}

.history p {
  line-height: 2;
}

.bold {
  font-weight: bolder;
  text-decoration: underline wavy var(--dark-brown);
}

.sources {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--standard-gap);
}

.sources ul {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--standard-gap);
}

.source-link a {
  color: var(--dark-brown);
  text-transform: capitalize;
}

.source-link {
  padding: 5px 5px 5px 0;
  position: relative;
}

.source-link:before {
  content: "";
  position: absolute;
  inset: 0;
  width: 0;
  background: var(--light-milk-tea);
  z-index: -1;
  transition: all 400ms ease-in-out;
}

.source-link:hover:before {
  width: 100%;
}

/* leaderboard ======================= */
.leaderboard,
.leaderboard-list {
  display: flex;
}

.leaderboard {
  padding: calc(var(--standard-padding) * 2);
  background: var(--milk-tea);
  border-radius: var(--standard-radius);
  flex-direction: column;
  gap: var(--standard-gap);
}

.leaderboard-list {
  padding: calc(var(--standard-padding) * 0.5);
  background: var(--lighest-milk-tea);
  border-radius: var(--standard-radius);
  justify-content: space-between;
  color: var(--dark-brown);
  gap: calc(var(--standard-gap) * 3.5);
  position: relative;
  overflow: hidden;
}

.leaderboard-list span {
  z-index: 1;
}

.leading-background {
  position: absolute;
  inset: 0;
  height: 100%;
  background: var(--milk-tea);
}

footer {
  padding: calc(var(--standard-padding) * 2) 0
    calc(var(--standard-padding) * 0.5) 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

footer a {
  display: grid;
  place-items: center;
}

ion-icon {
  color: var(--dark-brown);
  font-size: 18px;
}
